
  
  .top-navigation__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: coral;
    width: 100%;
  }
  h3{
    color: rgb(252, 252, 252);
  }
  i-feather{
    color: rgb(252, 252, 252);
    cursor: pointer;
  }