<h3>Employee List</h3>
<button
  type="button"
  class="btn btn-primary"
  (click)="openPopup('add')">Add Data
</button>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title">{{formAction|uppercase}}</h4>
      </div>
      <div class="modal-body">
        <app-new-employee #newEmployee></app-new-employee>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary mr-2" 
                (click)="onSubmit()">
          Save
        </button>
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="Employees?.length>0; else noData ">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">Sr no.</th>
        <th scope="col">Employee Id</th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr   *ngFor="let data of Employees;  let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{data.employeeCode}}</td>
        <td placement="top" container="body" ngbTooltip="{{data.firstName}} {{data.lastName}}">{{data.firstName}} {{data.lastName}}</td>
        <td>{{data.designation}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.email}}</td>
        <td><button  type="button"  (click)="openEdit(i,data)" class="btn btn-primary mr-2">Edit</button> <button  type="button" class="btn btn-primary"  (click)="delete(i)">Delete</button></td>
      </tr>
    
    </tbody>
  </table>
</div>
<ng-template #noData>
  <div class="alert alert-success" role="alert">
    No data found! 
   </div>
</ng-template>
