
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Assignment 3</div>
                <div class="card-header">Directives</div>
                <div class="card-body">
                  <div class="row">
                      <div>
                          <label>Attribute Directives (ngFor, ngIf)</label>
                          <div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor='let data of dataList'>
                                    {{data}}
                                </li>

                              </ul>
                          </div>
                      </div>
                  </div> 
                  <div class="row">
                    <div>
                        <label>Structural Directives (use ngClass, ngStyle)</label>
                        <div>
                            <ul class="list-group list-group-flush" *ngIf='dataList; else no'>
                                <li class="list-group-item" *ngFor='let data of dataList' [ngStyle]="{backgroundColor:getColor()}">
                                    {{data}}
                                </li>

                              </ul>
                              <ng-template #no>
                                  <small>no data found!</small>
                              </ng-template>
                          </div>
                    </div>
                </div>  
                </div>
            </div>
        </div>
      </div>
  </div>
