
            <div class="card"  *ngIf='dataList; else no'>
                <div class="card-header">Assignment 3</div>
                <div class="card-header">Directives</div>
                <div class="card-body">
                          <label>Attribute Directives (ngFor, ngIf)</label>
                            <ul class="list-group ">
                                <li class="list-group-item" *ngFor='let data of dataList'>
                                    {{data}}
                                </li>
                              </ul>
               
                        <label>Structural Directives (use ngClass, ngStyle)</label>
                            <ul class="list-group ">
                                <li class="list-group-item" *ngFor='let data of dataList' [ngStyle]="{backgroundColor:getColor()}">
                                    {{data}}
                                </li>
                              </ul>      
                </div>
            </div>

            <ng-template #no>
                <div class="alert alert-success" role="alert">
                   No data found! Please wait for 5 second
                  </div>
              </ng-template>
              

