
<div >
    <!-- <ul  class="nav nav-tabs">
        <li  *ngFor="let data of asignments"[class.active]="tempateName == data">
          <a (click)="tempateName=data">{{data | uppercase}}</a>
        </li>
      </ul> -->
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation" *ngFor="let data of asignments" [class.active]="tempateName == data">
          <a class="nav-link active" id="home-tab" (click)="tempateName=data" data-toggle="tab"role="tab" aria-controls="home" aria-selected="tempateName == data">{{data | uppercase}}</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div [ngSwitch]="tempateName">
          <div *ngSwitchCase="'assignment1'"><app-assignment1></app-assignment1></div>
          <div *ngSwitchCase="'assignment2'"><app-assignment2></app-assignment2></div>
          <div *ngSwitchCase="'assignment3'"><app-assignment3></app-assignment3></div>
          <div *ngSwitchCase="'assignment4'"><app-employee></app-employee></div>
          <div *ngSwitchCase="'assignment5'">
            <app-employee-list></app-employee-list>
          </div>
        </div> 
      </div>
 
 </div>