

<div class="main"> 
    <div class="side-navigation__menu-button">
          <div  class="side-navigation__menu-button-label">
            <i-feather name="grid" (click)="expanded = !expanded"></i-feather> <span *ngIf="expanded">My App</span>
          </div>
        </div>
     <div>
        <div>
            <ul class="nav flex-column">

                <li class="nav-item" [ngbTooltip]="menu.name" *ngFor="let menu of menuList" [class.active]="menu.active" (click)="setActive(menu)">
                    <a class="nav-link" [routerLink]="menu.path">
                        <i-feather [name]="menu.icon"></i-feather>  <span *ngIf="expanded">{{menu.name}}</span>  
                    </a>
                </li>
            
            </ul>
          </div>
          <!-- <div>
            <button class="show-button" (click)="expanded = !expanded">
                <i-feather [name]="!expanded?'chevrons-right':'chevrons-left'"></i-feather>
            </button>
          </div> -->
     </div>
         
</div>