

:host {
  display: flex;
  width: 50px;
  height: 100vh;
  background: linear-gradient(to bottom, #F1661B 0%, #FA323D 100%);
  overflow-x: hidden;
  transition: width 250ms ease-in-out;
}

:host.expanded {
  width: 200px;
}

.side-navigation__menu-button {
  display: flex;
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  transition: background-color 250ms ease-in-out;
}
.show-button{
  color: #fff;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
  margin-top: 30rem;
  margin-left: 1rem;
  background-color: transparent;
  border: none;
}
.main{
  width: 100%;
  height: 50px;
}
.side-navigation__menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.side-navigation__menu-button-label {
  padding: 1rem;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.active{
  background: coral;
  opacity: 0.9;
}
.nav-item :hover {
  background: coral;
  opacity: 0.9;
}
.nav-item{
  margin-top: 1rem;
}
.nav-link {
  color: #fff;
  /* font-style: inherit; */
}
span{
  margin-left: 1rem;
}