
            <div class="card">
                <div class="card-header">Show Hour Block</div>
                <div class="card-body">
                    <p class="card-text">{{ dateObj | date:'shortTime' }}</p>
                    <div class="row">
                        <div class="col-2 info-card classB">Completed Hours</div>
                        <div class="col-2  info-card classA">Incompleted Hours</div>
                        <div class="col-2 info-card classC">In-Progress Hour</div>
                    </div>
                        <div class="row">
                            <div class="col-2 hour-card" [class]="(hour?.status ==='true')?'classB': (hour?.status ==='pending')?'classC': 'classA'" *ngFor="let hour of totalHours">
                                {{hour?.value}}
                            </div>
                        </div>
                </div>
            </div>
    